@import './base.css';

/* 大屏幕 */
@media (min-width: 1024px) {
  #app {
    max-width: 100%;
    grid-template-areas: /* 定义网格区域 */
      'header-left header-mid header-right'
      'sidebar-left main sidebar-right'
      'footer-left footer-mid footer-right';
    grid-template-rows: 60px 250px auto;
    grid-template-columns: 320px 1080px 300px;
    gap: 2rem;
    padding: 1rem;
    display: grid;
  }
  .header-left {
    grid-area: header-left;
  }
  .header-mid {
    grid-area: header-mid;
    text-align: center;
  }
  .header-right {
    grid-area: header-right;
  }
  .sidebar-left {
    grid-area: sidebar-left;
    height: 840px;

    border: 1px transparent #f1bee2;
    background-color: rgba(223, 164, 208, 0.15);
    border-collapse: separate;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.476);
  }
  .sidebar-right {
    grid-area: sidebar-right;
    height: 300px;

    border: 1px transparent #f1bee2;
    background-color: rgba(223, 164, 208, 0.15);
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.476);
  }
  .main {
    grid-area: main;
    width: 1080px;
    height: 840px;

    border: 1px solid #e4d9dd;
    border-radius: 8px;
  }
  .footer-left {
    grid-area: footer-left;
  }
  .footer-mid {
    grid-area: footer-mid;
  }
  .footer-right {
    grid-area: footer-right;
  }
}
